## DataFrame

In [4]:
# number of approaches to creata an object of DataFrame

In [5]:
import pandas as pd 
import numpy as np

In [6]:
# creating the object fundamental data type values into DataFrame ---directly not possible 
# we convert fundamental data type into iterable objects and we can create data frame object

In [7]:
a=10
df=pd.DataFrame(a)
print("----------------------------------")
print(df)
print("------------------------------------") #ValueError: DataFrame constructor not properly called

ValueError: DataFrame constructor not properly called!

In [17]:
a=10
df=pd.DataFrame([a])
print("---------------------------------")
print(df)
print("------------------------------------")

---------------------------------
    0
0  10
------------------------------------

In [19]:
a=10.23
df=pd.DataFrame((a,))
print("---------------------------------------")
print(df)
print("-----------------------------------------")

---------------------------------------
       0
0  10.23
-----------------------------------------

In [21]:
# creating the data frame by by using the str to convert into the iterable object 
a="PYTHON"
df=pd.DataFrame([a])
print("----------------------------------")
print(df)
print("----------------------------------")

----------------------------------
        0
0  PYTHON
----------------------------------

In [22]:
# creating the an object of dataframe by using the range object 
r=range(10,21,2)
df=pd.DataFrame(r)
print("-----------------------------------")
print(df)
print('-----------------------------------')

-----------------------------------
    0
0  10
1  12
2  14
3  16
4  18
5  20
-----------------------------------

In [25]:
# creating an object of dataframe by using list object 
lst=[100,200,300,400,500]
df=pd.DataFrame(lst)
print(df)

     0
0  100
1  200
2  300
3  400
4  500

In [27]:
# creating an object of dataframe by using the list object with float data type 
lst=[100,200,300,400,500]
df=pd.DataFrame(lst,dtype=float)
print(df)

       0
0  100.0
1  200.0
2  300.0
3  400.0
4  500.0

In [29]:
# creatin an object of dataframe by using the list object 
lst=[[100,200,300,400,500]]
df=pd.DataFrame(lst)
print(df)

     0    1    2    3    4
0  100  200  300  400  500

In [30]:
# creating an object of data frame by using the list object 
lst=["Rossum","Travis","Kinni","JHunter","Dennis"]
df=pd.DataFrame(lst)
print(df)

         0
0   Rossum
1   Travis
2    Kinni
3  JHunter
4   Dennis

In [31]:
# creating an object of dataframe by using the list object
lst=[["Rossum","Travis","Kinni","JHunter"]]
df=pd.DataFrame(lst)
print(df)

        0       1      2        3
0  Rossum  Travis  Kinni  JHunter

In [32]:
# creating an object of dataframe by using the list object 
lst=[[100,200,300,400],["Rossum","Kinni","Travis","JHunter"]]
df=pd.DataFrame(lst)
print(df)

        0      1       2        3
0     100    200     300      400
1  Rossum  Kinni  Travis  JHunter

In [33]:
# creating an object of dataframe by ising the list object
lst=[[100,200,300,400],["Rosuum","Travis","Kinni","JHunter"]]
df=pd.DataFrame(lst,index=["ID","NAMES"])
print(df)

            0       1      2        3
ID        100     200    300      400
NAMES  Rosuum  Travis  Kinni  JHunter

In [34]:
# creating an object of data frame by using the list object
lst=[[100,200,300,400],["Rossum","Kinni","Travis","JHunter"]]
df=pd.DataFrame(lst,index=["ID","NAMES"],columns=["Rec1","Rec2","Rec3","Rec4"])
print(df)

         Rec1   Rec2    Rec3     Rec4
ID        100    200     300      400
NAMES  Rossum  Kinni  Travis  JHunter

In [36]:
lst=[[100,"RS"],[200,"TR"],[300,"DR"],[400,"JH"]]
df=pd.DataFrame(lst,index=["REC1","REC2","REC3","REC4"],columns=["ID","NAME"])
print(df)

       ID NAME
REC1  100   RS
REC2  200   TR
REC3  300   DR
REC4  400   JH

In [37]:
# creating an object of data frame by using the list object
lst=[[100,"RS"],[200,"TR"],[300,"DR"],[400,"JH"]]
df=pd.DataFrame(lst,index=["Rec"+str(i) for i in range(1,5)],columns=["ID","NAMES"])
print(df)

       ID NAMES
Rec1  100    RS
Rec2  200    TR
Rec3  300    DR
Rec4  400    JH

In [45]:
# creating an object of dataframe by using the list object 
lst=[[8.9,7.8,9.0],[7.8,7.0,8.5],[7.7,7.9,10.4]]
df=pd.DataFrame(lst,index=["SBI","ICICI","HDFC"],columns=["CAR LOAN","HOME LOAN","PERSONAL LOAN"])
print(df)

       CAR LOAN  HOME LOAN  PERSONAL LOAN
SBI         8.9        7.8            9.0
ICICI       7.8        7.0            8.5
HDFC        7.7        7.9           10.4

In [46]:
# creating an object of dataframe by using the list object 
lst=((8.9,7.8,9.0),(7.8,7.0,8.5),(7.7,7.9,10.4))
df=pd.DataFrame(lst,index=["SBI","ICICI","HDFC"],columns=["CAR LOAN","HOME LOAN","PERSONAL LOAN"])
print(df)

       CAR LOAN  HOME LOAN  PERSONAL LOAN
SBI         8.9        7.8            9.0
ICICI       7.8        7.0            8.5
HDFC        7.7        7.9           10.4

In [48]:
# creating an object of dataframe by using the list object 
lst=[(8.9,7.8,9.0),[7.8,7.0,8.5],(7.7,7.9,10.4)]
df=pd.DataFrame(lst,index=["SBI","ICICI","HDFC"],columns=["CAR LOAN","HOME LOAN","PERSONAL LOAN"])
print(df)

       CAR LOAN  HOME LOAN  PERSONAL LOAN
SBI         8.9        7.8            9.0
ICICI       7.8        7.0            8.5
HDFC        7.7        7.9           10.4

In [49]:
# create a object of dataframe by using the  set object 
s={10,20,30,40,50,10}
df=pd.DataFrame(s)
print(df,type(df))

    0
0  50
1  20
2  40
3  10
4  30 <class 'pandas.core.frame.DataFrame'>

In [55]:
# create a object of dataframe by using the  set object 
s={(10,20,30,40,50,10)}
df=pd.DataFrame(s)
print(df,type(df))

    0   1   2   3   4   5
0  10  20  30  40  50  10 <class 'pandas.core.frame.DataFrame'>

In [59]:
# create an object of data frame by using the object of dict
d={10:"python",20:"java",30:"css"}
df=pd.DataFrame(d,index=[0])
print(df)

       10    20   30
0  python  java  css

In [61]:
d={"Rank1":["PYTHON","DSC"],"Rank2":["C","DSA"]}
df=pd.DataFrame(d)
print(df)

    Rank1 Rank2
0  PYTHON     C
1     DSC   DSA

In [67]:
d={"SBI":(8.9,7.0,9.0),"ICICI":[7.8,7.2,9.5],"HDFC":(.7,7.9,10.4)}
df=pd.DataFrame(d,index=["CARLOAN","HOMELOAN","PERSONALLOAN"])
print(df)

              SBI  ICICI  HDFC
CARLOAN       8.9    7.8   0.7
HOMELOAN      7.0    7.2   7.9
PERSONALLOAN  9.0    9.5  10.4